:root{
    --primary-bg-color:#E5E5E5;
    --secondary-bg-color:#FFFFFF;
    --primary-text-color:#262626;
    --secondary-text-color: #8F8F8F;
    --link-color: #133768;
    --accent-color: #4094EF;
    --bordered: 1px solid #DBDBDB;
    --gradient:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
@font-face {
  font-family: "HelveticaNeueCyr";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: 
       url("/fonts/HelveticaNeueCyr-Black.woff") format("woff"),
       url("/fonts/HelveticaNeueCyr-Black.ttf") format("ttf"),
       url("/fonts/HelveticaNeueCyr-Black.eot") format("eot"),

}
@font-face {
  font-family: "HelveticaNeueCyr";
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: 
       url("/fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
       url("/fonts/HelveticaNeueCyr-Bold.ttf") format("ttf"),
       url("/fonts/HelveticaNeueCyr-Bold.eot") format("eot"),
}


body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.container{
  width: 1450px;
  padding: 0 256px;
  margin: auto auto;
}
.header{
    background-color: var(--secondary-bg-color);
    border-bottom: var(--bordered);
}

.header__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__container{
    width: 1450px;
    padding-right: 256px;
    padding-left: 256px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    margin-right: 266px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.header-form{
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-bottom: 14px;
}
.header-form__input{
    width: 215px;
    height: 30px;
    padding: 8px 50px 4px 70px;
    margin-right: 154px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.header-form__input:focus-within{
    border: 2px solid var(--accent-color);
    outline: none;
}
.header-form__button{
    background: transparent;
    border: none;
}
.header-form__button:hover,
.header-form__button:focus{
    cursor: pointer;
    fill: var(--accent-color);
}
.header-form__icon {
    position: absolute;
    top: 26px;
    left: 54px;
    transform: translateY(-50%);
    
}

.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 19px;
    padding-bottom: 11px;
}
.nav__item:not(:last-child){
    margin-right: 22px;
}
.nav__link{
    position: relative;
    fill: var(--primary-text-color);
}
.nav__link:hover{
    fill: var(--accent-color);
    stroke: var(--accent-color);
    
}


.nav__ellips{
    position: absolute;
    left: 12px;
    bottom: 8px;
}
.nav__number{
    position: absolute;
    width: 8px;
    height: 18px;
    bottom: 9px;
    left: 18px;
    font-size: 12px;
    line-height: 14px;
    color: var(--secondary-bg-color);
}
.about-me{
    padding-top: 26px;
    padding-bottom: 55px;
}
.widget{
    display: flex;
}

.widget__part{
    display: block;
}
.about-me__card{
    display: block;
    width: 152px;
    height: 152px;
    margin-left: 65px;
    margin-right: 100px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    background-image: var(--gradient);
}
.about-me__card:hover{
transform: scale(1.15);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-me__wrapper{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 24px;
}
.about-me__details{
    cursor: pointer;
    color: var(--primary-text-color);
    transition: box-shadow var(--animation),transform var(--timing-function)
}
.about-me__details:hover{
    color: var(--accent-color);
}
.about-me__title{
    margin-right: 26px;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
}
.about-me__title--secondary{
    font-size: 17px;
    line-height: 21px;
}
.about-me__btn{
    width: 100px;
    height: 30px;
    margin-right: 8px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
}
.about-me__btn:hover,
.about-me__btn:focus{
    background: linear-gradient(
90deg
,#a188fc,#2eeade 50%,#a188fc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.about-me__text{
    font-weight: 700;
    font-size: 14px;
    color: var(--secondary-bg-color);
}
.about-me__select{
    position: relative;
    height: 30px;
    width: 33px;
    padding: 0px 4px;
    margin-right: 16px;
    /* background-image: url(/images/Polygon.svg); */
    background-size: 8px 5px;
    background-position-x: 52%;
    background-position-y: 13px;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    outline: none;
    border-radius: 3px;
    background-color: var(--accent-color);
}
.about-me__select:hover{
    background: linear-gradient(
90deg
,#a188fc,#2eeade 50%,#a188fc);;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    border: none;
}
.about-me__poligon{
    position: absolute;
    right: 794px;
    z-index: 1;
}
.about-me__dots{
    display: flex;
    cursor: pointer;
}
.about-me__dot:not(:last-child){
    margin-right: 4px;
}
.about-me__dot:hover{
    fill: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.about-me__list{
    display: flex;
    margin-bottom: 20px;
}

.about-me__item:not(:last-child){
   margin-right: 38px;
}
.about-me__number{
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
}
.about-me__name{
   font-weight: 400; 
   font-size: 17px;
   line-height: 21px;
}
.about-me__name--text{
    line-height: 25px;
}
.about-me__discription{
    font-weight: bold;
    font-size: 14px;
    padding-right: 16px;
    line-height: 17px;

}
.about-me__link{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: var(--link-color);
}
.about-me__link:hover{
    color: var(--accent-color);
}
.about-me__set{
    display: flex;
    margin-top: 56px;
}
.about-me__story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me__card--little{
    width: 78px;
    height: 78px;
    margin-bottom: 15px;
    border: var(--bordered);
}
.about-me__card--little:first-child {
  margin-left: 40px;
}
.about-me__card--little:not(:last-child){
    margin-right: 55px;
}
.gallery{
    padding-bottom: 122px;
}
.container--bordered{
    width: 935px;
    margin-bottom: 18px;
    border-top: var(--bordered);
}
.gallery__link{
    cursor: pointer;
}
.gallery__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -25px;
    margin-left: -25px;
}
.gallery__item{
    margin-top: 25px;
    margin-left: 25px;
    flex-basis: calc((100% - 3 * 25px) / 3);
     cursor: pointer;
     transition: box-shadow var(--animation),transform var(--timing-function)
}
.gallery__picture{
   background-image: var(--gradient);
}
.gallery__item:hover{
box-shadow: 0 10px 10px -7px #000,1px 3px 7px 6px var(--accent-color);
    transform: translateY(-10%);
}

.publications{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.publications__item{
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;

}
.publications__item:not(:last-child){
    margin-right: 60px;
}
.publications__title{
font-weight: bold;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.09em;
color: var(--secondary-text-color);
}

.publications__link--active{
    position: relative;
    color: var(--primary-text-color);
}
.publications__link--current::before{
    content: '';
    position: absolute;
    top: -20px;
    width: 64px;
    height: 1px;
    background: var(--primary-text-color);
}
.publications__icon{
    margin-right: 6px;
    padding-top: 2px;
}